

<link rel="stylesheet" type="text/css" href="../style/app.css"/>
<script src="../cloudtags/tangCloud.js"></script>
<script src="../testController.js"></script>
<div ng-app="test" ng-controller="TestCtrl">
<div class="cloud">
    <tang-cloud words="words"  width="900" height="900" ></tang-cloud>
</div>
</div>


