<link rel="stylesheet" type="text/css" href="../dist/semantic.min.css">
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="../dist/semantic.min.js"></script>
<div class ui sticky>
<div class="ui stackable menu">
    <div class="header item" >
        Wiki
    </div>
    <a class="item" href="/comments" data-l10n-id="feed">
        Feed
    </a>
    <a class="item" href="/profile" data-l10n-id="profile">
        Profile
    </a>
    <a class="item" href="/new" data-l10n-id="create">
        Create your instruction!
    </a>
    <a class="item" href="/signup" data-l10n-id="signup">
        Sign up
    </a>
    <a class="item" href="/login" data-l10n-id="login">
        Log in
    </a>
    <a href="/auth/vk" class="btn btn-primary"> VK</a>
    <a class="item" href="/local" data-l10n-id="change">
        <a class="item" href="/theme" data-l10n-id="theme">
    </a>
    <a href="/auth/facebook" class="btn btn-primary"> Facebook</a>

    <div class="right menu">
        <div class="ui search">
            <div class="ui icon input">
                <input class="prompt" data-l10n-id="bomb" type="text">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>
</div>
</div>

<script>


    $('.ui.search')
        .search({
            apiSettings: {
                url: '/search?q={query}'
            },
            type: 'standard'
        })
    ;



</script>

