<link rel="stylesheet" type="text/css" href="../dist/semantic.min.css">
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class ui sticky>
<div class="ui stackable menu">
    <div class="header item" >
        Wiki
    </div>
    <a class="item" href="/comments">
        Feed
    </a>
    <a class="item" href="/profile">
        Profile
    </a>
    <a class="item" href="/new">
        Create your instruction!
    </a>
    <a class="item" href="/signup">
        Sign up
    </a>
    <a class="item" href="/login">
        Log in
    </a>
    <a href="/auth/facebook" class="btn btn-primary"> Facebook</a>
    <div class="right menu">
    <div class="ui search">
        <div class="ui icon input">
            <input class="prompt" placeholder="Creating bomb..." type="text">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
    </div>
</div>
</div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.1&appId=210456179651489&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

