/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
############ Colors ################
**/
/**
 ######## Font classes ########
**/
.font-fa {
    font-family: "FontAwesome";
}

span[class^="icon "] {
    font-family: "FontAwesome";
}

.rating-module h3 {
    font-size: 1.6em;
    color: #595959;
}
.rating-module h2 {
    font-size: 2.2em;
    color: #1670AF;
}

.align-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.opinionList h2 {
    color: #1670AF;
    margin-bottom: 0;
}

html, body {
    height: 100%;
}

body {
    font-size: 62.5%;
    background: #efefef;
}

.wrapper {
    max-width: 724px;
    margin: 0 auto;
    background: #fff;
    height: 100%;
}

header {
    padding: 1.5em;
}
header img {
    display: block;
    max-width: 128px;
    margin: 0 auto;
}

main {
    margin-top: 10%;
}

.rating-module {
    width: 100%;
}

.holder {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.holder.border-block {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 100%;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}

/* ####### Form Module ######### */

.star-rating {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 0;
    font-size:0.5em;
}
.star-rating li {
    margin-right: 0%;
}
ul, li {
    margin-left: 0px;
}
.star-rating .star {
    color: #E8E8E8;
    font-size: 4.0em;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.star-rating .star:hover {
    color: cyan;
}
.star-rating .star:focus {
    color: #1670AF;
}
.star-rating .star.filled {
    color: #1670AF;
}
.star-rating.readonly .star.filled {
    color: #666;
}

