/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
############ Colors ################
**/
/**
 ######## Font classes ########
**/
.font-fa {
    font-family: "FontAwesome";
}

span[class^="icon "] {
    font-family: "FontAwesome";
}

.rating-module h3 {
    font-size: 1.6em;
    color: #595959;
}
.rating-module h2 {
    font-size: 2.2em;
    color: #1670AF;
}

.align-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.opinionList h2 {
    color: #1670AF;
    margin-bottom: 0;
}

html, body {
    height: 100%;
}

body {
    font-size: 62.5%;
    background: #efefef;
}

.wrapper {
    max-width: 724px;
    margin: 0 auto;
    background: #fff;
    height: 100%;
}

header {
    padding: 1.5em;
}
header img {
    display: block;
    max-width: 128px;
    margin: 0 auto;
}

main {
    margin-top: 10%;
}

.rating-module {
    width: 100%;
}

.holder {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.holder.border-block {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 100%;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}

/* ####### Form Module ######### */
.holder.small-star-block {
    position: relative;
}
.holder.small-star-block .overlay {
    position: absolute;
    z-index: 1;
}

.star-rating {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 0;
}
.star-rating li {
    margin-right: 2%;
}
.star-rating .star {
    color: #E8E8E8;
    font-size: 4.0em;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.star-rating .star:hover {
    color: #1670AF;
}
.star-rating .star:focus {
    color: #1670AF;
}
.star-rating .star.filled {
    color: #1670AF;
}
.star-rating.readonly .star.filled {
    color: #666;
}

.stage2 .star-rating, .stage3 .star-rating {
    pointer-events: none;
    cursor: default;
    opacity: 0.9;
}
.stage2 .star-rating .star, .stage3 .star-rating .star {
    font-size: 2.5em;
}

.opinionList .checkbox-holder {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 475px;
}
.opinionList .checkbox-items {
    -webkit-flex: 30% 0;
    flex: 30% 0;
    margin-right: 1em;
    margin-bottom: 1em;
    position: relative;
}
.opinionList .checkbox-items label {
    display: block;
    padding: 1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #B3B3B4;
    color: #595959;
    font-size: 1.4em;
}
.opinionList .checkbox-items label.active {
    background: #1670AF;
    color: #fff;
}
.opinionList .checkbox-items input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

.stage3 .checkbox-items {
    -webkit-flex: auto;
    flex: auto;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    pointer-events: none;
    cursor: default;
    opacity: 0.9;
}
.stage3 .checkbox-items label.active {
    background: #fff;
    color: #1670AF;
    border: 1px solid #1670AF;
    font-weight: bold;
    padding: 0.5em 1em;
}
.stage3 .border-block {
    padding-top: 0;
    padding-bottom: 0;
}
.stage3 textarea {
    display: block;
    width: 97.5%;
    height: 100%;
    padding: 0.5em;
    min-height: 266px;
    border: 0;
    font-size: 1.6em;
}

/* ########## Button modules ################ */
.btn {
    margin-top: 1em;
    font-size: 1.6em;
    border: none;
    background: none;
    min-width: 110px;
}
.btn span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25em;
}
.btn span.fa-check-circle {
    background: white;
    color: #1670AF;
    font-size: 2.8em;
}
.btn span.fa-times-circle {
    background: white;
    color: #E8E8E8;
    font-size: 2.8em;
}
