<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Basic Usage</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <link rel='stylesheet' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.10/angular-material.css'>
    <link rel='stylesheet' href='https://material.angularjs.org/1.1.10/docs.css'>

    <link rel="stylesheet" href="css/style.css">


</head>

<body>

<div ng-controller="AppCtrl" layout="column" style="height:500px;" ng-cloak="" class="sidenavdemoBasicUsage" ng-app="MyApp" ng-init="postid='<%= id %>'; steps=null; toc=null">


    <section layout="row" flex="">

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Wiki</h1>
                <h1 class="md-toolbar-tools" allign="center"><%= title%></h1>
            </md-toolbar>
            <md-content layout-padding="" ng-controller="LeftCtrl">
                <md-button ng-click="close()" class="md-primary" hide-gt-md="">
                    Close Sidenav Left
                </md-button>
                <p hide="" show-gt-md="">
                    This sidenav is locked open on your device. To go back to the default behavior,
                    narrow your display.
                </p>
            </md-content>

        </md-sidenav>
                <md-content flex="" layout-padding="">

            <div layout="column" layout-align="top center">
                <md-card>

                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" ng-bind-html="toc[index]">  </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                       <div ng-bind-html="steps[index]">
                       </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="sub()" ng-show="index">Previous step</md-button>
                        <md-button ng-click="add()" ng-show="steps.length-index-1">Next step</md-button>
                    </md-card-actions>
                </md-card>

                <div>
                    <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
                        Toggle right
                    </md-button>
                </div>
            </div>

            <div flex=""></div>

        </md-content>

        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl" layout-padding="">
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input id="testInput" ng-model="data" md-autofocus="" type="text">
                    </md-input-container>
                </form>
                <md-button ng-click="close()" class="md-primary">
                    Close Sidenav Right
                </md-button>
            </md-content>

        </md-sidenav>

    </section>

</div>

<!--
Copyright 2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.10/angular-material.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>

</script>


<script  src="js/index.js"></script>




</body>

</html>
