<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.min.js"></script>
    <!-- L20n setup -->
    <link rel="localization" href="../locales/manifest.json">
    <script type="application/l10n-data+json">
      {
        "build": "prod",
        "mode": "multi"
      }
    </script>

    <!-- Include the dist version of L20n -->
    <script src="../lib/l20n.js"></script>
    <script>

        // L20n and document.l10n are now available
        document.l10n.ready(function() {
            if(!( document.l10n.supportedLocales[0] =="<%=locale%>")) {
                console.log(document.l10n.supportedLocales);
                document.l10n.requestLocales("<%=locale%>");
            }
            console.log("Document's context is ready");
        });

    </script>
</head>
<body>

    <% include ../partials/header %>

    <div class="container">
        <% if (message.length > 0) { %>
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Ohps!</strong> <%= message %>.
            </div>
	    <% } %>
        <form class="form-signin" action="/login" method="post">
            <h2 class="form-signin-heading" data-l10n-id="welcome"></h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="email" name="email" class="form-control" data-l10n-id="email" required="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" data-l10n-id="password" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit" data-l10n-id="login">Sign in</button>
            <br>
             <a href="/signup" data-l10n-id="invite"></a>
        </form>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>
</html>
